html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 27, 27, 1); 
    font-family: 'JetBrains Mono', serif;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: #ffffff 0px 0px 10px;
}

.buttons-container {
    justify-content: center;
    display: flex;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-shadow: #ffffff 0px 0px 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#btn1 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: #ffffff 0px 0px 10px;
}

#btn1:hover {
    background-color: #000000;
    transform: translateY(-2px);
    color: #ffffff;
}

#btn2 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: #ffffff 0px 0px 10px;
}

#btn2:hover {
    background-color: #000000;
    color: #ffffff;
    transform: translateY(-2px);
}

.form-container {
    color: white;
    display: none; /* Initialement caché */
    padding: 20px;
    margin: 5% 30% 5% 30%;
    border-radius: 5px;
    border: 2px solid #ffffff; /* Ajout d'un cadre blanc */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); /* Ajout d'une ombre */
}

#btn-submit {
    background-color: #ffffff;
    box-shadow: #ffffff 0px 0px 10px;
    color: rgb(0, 0, 0);
}

#btn-submit:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



